    

@font-face {
  font-family: 'Other Hand';
  src: url('./fonts/OtherHand-Medium.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Oxygen Mono';
  src: url('./fonts/OxygenMono-Regular.ttf');
  font-weight: 400;
}
    
body {
  font-family: 'Oxygen Mono', monospace;
  margin: 4rem auto;
  margin-top: 2rem;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}

h1 {
  font-family: 'Other Hand', sans-serif;
  margin-top: 2rem;
  font-size: 4rem;
  background-color: #f9f9f9;
  /* color: #333; */
  color: #45c473;
  align-items: center;
}

h2 {
  font-family: 'Oxygen Mono', monospace;
  margin-bottom: 2rem;
}

a {
  color: #45c473;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.tag {
  display: inline-block;
  background-color: #45c473;
  color: #ffffff;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  font-size: 0.9em;
  line-height: 1.2;
}

.studio-name {
  color: #45c473;
  text-decoration: underline;
}


/* Tabelle */

table {
  border-collapse: collapse;
  margin: 20px auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 2; 
}

th, td {
  padding: 0.5rem;
  text-align: center;
  max-width: 300px;
}

th {
  color: #333;
  text-decoration: underline;
}

.dieter-main {
  align-items: center;
  justify-content: center;
  width: 70%;
  max-width: 600px;
  margin-top: 500px;
  margin-bottom: 50px;
  object-fit: contain;
}

.dieter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 50px;
}

/* SVG selbst: begrenzte Breite + responsive */
.dieter-svg {
  max-width: 600px;
  width: 80vw;              /* 80% der Viewport-Breite */
  height: auto;
  display: block;
}