    

@font-face {
  font-family: 'Other Hand';
  src: url('./fonts/OtherHand-Medium.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Oxygen Mono';
  src: url('./fonts/OxygenMono-Regular.ttf');
  font-weight: 400;
}
    
body {
  font-family: 'Oxygen Mono', monospace;
  margin: 4rem;
  background-color: #f9f9f9;
  color: #333;
  align-items: center;
}

h1 {
  font-family: 'Other Hand', sans-serif;
  margin-top: 2rem;
  font-size: 4rem;
  background-color: #f9f9f9;
  color: #333;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

th, td {
  /* border: 1px solid #ccc; */
  padding: 0.5rem;
  text-align: center;
}

th {
  color: #333;
  text-decoration: underline;
}

a {
  color: #45c473;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.tag {
    background-color: #45c473;
    color: white;
    /* padding: 2px 6px;
    margin: 2px;
    border-radius: 4px;
    font-size: 0.85em;
    display: inline-block; */
  }