    

@font-face {
  font-family: 'Other Hand';
  src: url('./fonts/OtherHand-Medium.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Oxygen Mono';
  src: url('./fonts/OxygenMono-Regular.ttf');
  font-weight: 400;
}
    
body {
  font-family: 'Oxygen Mono', monospace;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
  background-color: #f9f9f9;
  color: #333;
  align-items: center;
}

h1 {
  font-family: 'Other Hand', sans-serif;
  margin-top: 2rem;
  font-size: 4rem;
  background-color: #f9f9f9;
  color: #333;
  align-items: center;
}

h2 {
  font-family: 'Oxygen Mono', monospace;
  margin-bottom: 2rem;
}

a {
  color: #45c473;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* .tag {
  background-color: #45c473;
  color: white;
} */

.tag {
  display: inline-block;
  background-color: #45c473;       /* heller Hintergrund */
  color: #ffffff;                  /* dunkle Schrift */
  padding: 0.2em 0.5em;         /* etwas Abstand innen */
  margin: 0.2em;                /* Abstand zu anderen Tags */
  border-radius: 0.5em;         /* abgerundete Ecken */
  font-size: 0.9em;             /* etwas kleiner (optional) */
  line-height: 1.5;             /* mehr Zeilenhöhe */
}

.studio-name {
  color: #45c473;
  text-decoration: underline;
}


/* Tabelle */

table {
  width: 100%;
  table-layout: fixed; /* wichtig für feste Spaltenbreiten */
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

th, td {
  padding: 0.5rem;
  text-align: center;
  /* line-height: 1,2; */
}

th {
  color: #333;
  text-decoration: underline;
}

/* Spaltenbreiten gezielt setzen */
th:nth-child(1), td:nth-child(1) { width: 20%; }  /* Name */
th:nth-child(2), td:nth-child(2) { width: 25%; }  /* Website */
th:nth-child(3), td:nth-child(3) { width: 15%; }  /* City */
th:nth-child(4), td:nth-child(4) { width: 15%; }  /* Country */
th:nth-child(5), td:nth-child(5) { width: 25%; }  /* Tags */
